@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.container {
  animation: fadeIn ease-in 0.9s;
}

.textContainer {
  max-width:75%;
  margin:0 auto;
  margin-top:40vh;
  font-family: "lores-9-plus-wide", monospace;
  font-size:1.2rem;
  font-weight:400;
  letter-spacing: 0.15rem;
  line-height:1.6em;
}
