@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.container {
  animation: fadeIn ease-in 0.9s;
}

.nav {
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin:8vh 2vw;
}

.name {
  display:inline;
  color:white;
  font-family: "lores-9-narrow", monospace;
  font-size:2rem;
  font-weight:700;
  letter-spacing:0.71em;
  text-shadow:3px 4px 24px snow;
  text-transform:lowercase;
  animation: fadeIn ease-in 1.5s;
}

.alternateLettering {
  color:#b0b0b0;
  animation: fadeIn ease-in 1.9s;
}

.navButton {
  margin-right:1.9vw;
  font-family:"lores-9-minus-wide";
  font-size:1.2rem;
  display:inline;
  border:none;
  background:inherit;
  color:white;
  box-shadow:4px 8px #e4000f;
  text-transform:uppercase;
  text-decoration:none;
  font-style:normal;
  letter-spacing:0.15rem;
  cursor:pointer;
}

.navButton:hover {
   color:snow;
   letter-spacing:0.3rem;
   text-transform:lowercase;
   font-style:normal;
   padding:7px 0 0 10px;
   text-shadow:none;
   box-shadow:inset 4px 8px #e4000f;
}


.textContainer {
  max-width:75%;
  margin:0 auto;
  margin-top:36vh;
  font-family: "lores-9-plus-wide", monospace;
  font-size:1.2rem;
  font-weight:400;
  letter-spacing: 0.15rem;
  line-height:1.6em;
}
