@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.container {
  animation: fadeIn ease-in-out 3.6s;
}

.imageBoxZero {
  position:relative;
  height:100vh;
  overflow:hidden;
}

.nav {
  position:relative;
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin:8vh 2vw;
}

.name {
  display:inline;
  color:black;
  font-family: "lores-9-narrow", monospace;
  font-size:2rem;
  font-weight:700;
  letter-spacing:0.71em;
  text-shadow: 2px 3px #00bfff, 3px 4px black;
  text-transform:lowercase;
  z-index:99;
}

.alternateLettering {
  color:#00bfff;
  text-shadow:2px 3px black, 3px 4px #b0b0b0;
}

.alternateLetteringTwo {
  color:#faf8dc;
  text-shadow:2px 3px black, 3px 4px #e4000f;
  text-transform:uppercase;
}

.navButton {
  margin-right:1.9vw;
  font-family:"lores-9-minus-wide";
  font-size:1.35rem;
  font-weight:700;
  display:inline;
  border:none;
  background:inherit;
  color:#faf8dc;
  box-shadow:4px 8px #00bfff, 8px 12px black;
  text-transform:uppercase;
  text-decoration:none;
  font-style:normal;
  letter-spacing:0.15rem;
  cursor:pointer;
}

.navButton:hover {
   color:black;
   text-shadow:2px 14px #b0b0b0;
   letter-spacing:0.3rem;
   text-transform:lowercase;
   font-style:normal;
   padding:7px 0 0 10px;
   box-shadow:inset 4px 6px #00bfff, 4px 6px #faf8dc;
}

.imageBoxOne {
  position:absolute;
  top:3vh;
  left:-2.5vw;
  opacity:0.3;
}

.imageBoxTwo {
  position:absolute;
  top:3vh;
  left:2.5vw;
  opacity:0.3;
}

.imageBoxThree {
  position:absolute;
  top:3vh;
  left:7.5vw;
  opacity:0.6;
}

.imageBoxFour {
  position:absolute;
  top:3vh;
  left:12.5vw;
  opacity:0.17;
}

.imageBoxFive {
  position:absolute;
  top:3vh;
  left:17.5vw;
  opacity:0.5;
}

.imageBoxSix {
  position:absolute;
  top:11vh;
  left:22.5vw;
  opacity:0.15;
}

.imageBoxSixPointZero {
  position:absolute;
  top:-2vh;
  left:22.5vw;
  opacity:0.3;
}

.imageBoxSixPointOne {
  position:absolute;
  top:22vh;
  left:22.5vw;
  opacity:0.15;
}

.imageBoxSixPointTwo {
  position:absolute;
  top:32vh;
  left:22.5vw;
  opacity:0.35;
}

.imageBoxSixPointThree {
  position:absolute;
  top:42vh;
  left:22.5vw;
  opacity:0.15;
}

.imageBoxSixPointFour {
  position:absolute;
  top:52vh;
  left:22.5vw;
  opacity:0.45;
}

.imageBoxSixPointFive {
  position:absolute;
  top:62vh;
  left:22.5vw;
  opacity:0.5;
}

.imageBoxSixPointSix {
  position:absolute;
  top:72vh;
  left:22.5vw;
  opacity:0.63;
}

.imageBoxSixPointSeven {
  position:absolute;
  top:84vh;
  left:22.5vw;
  opacity:0.53;
}

.imageBoxSeven {
  position:absolute;
  top:3vh;
  left:27.5vw;
  opacity:0.65;
}

.imageBoxEight {
  position:absolute;
  top:3vh;
  left:32.5vw;
  opacity:0.45;
}

.imageBoxNine {
  position:absolute;
  top:3vh;
  left:37.5vw;
  opacity:0.25;
}

.imageBoxTen {
  position:absolute;
  top:3vh;
  left:42.5vw;
  opacity:0.45;
}

.imageBoxEleven {
  position:absolute;
  top:3vh;
  left:47.5vw;
  opacity:0.65;
}
