.nav {
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin:3vh 2vw;
}

.name {
  display:inline;
  color:white;
  font-family: "lores-9-narrow", monospace;
  font-size:2rem;
  font-weight:400;
  letter-spacing:0.21em;
  text-shadow:3px 4px 24px snow;
  text-transform:lowercase;
}

.alternateLettering {
  color:#b0b0b0;
}

.navButton {
  margin-right:0.9vw;
  font-family:"lores-9-minus-wide";
  font-size:1.2rem;
  display:inline;
  border:none;
  background:inherit;
  color:white;
  text-shadow:1px 2px #d10000;
  text-transform:uppercase;
  text-decoration:none;
  font-style:normal;
  letter-spacing:0.15rem;
  cursor:pointer;
}

.navButton:hover {
   color:snow;
   letter-spacing:0.3rem;
   text-transform:lowercase;
   font-style:normal;
   text-shadow:2px 3px black, 3px 4px #d10000;
}
