.nav {
  display:flex;
  justify-content:space-between;
  margin:3vh 2vw;

}

.name {
  display:inline;
  font-family: "lores-9-narrow", monospace;
  font-size:2rem;
  font-weight:400;
  letter-spacing:0.21em;
  text-transform:lowercase;
}
