@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .container {
    position: relative;
    animation: fadeIn ease-in-out 3.6s;
    overflow: hidden;
  }
  
  .imageBoxZero {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8vh 2vw;
    z-index: 99;
  }
  
  .name {
    display: inline;
    color: white;
    font-family: "lores-9-narrow", monospace;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.71em;
    text-shadow: 3px 4px 24px snow;
    text-transform: lowercase;
    animation: fadeIn ease-in 1.5s;
  }
  
  .alternateLettering {
    color: #a5c0c0;
    animation: fadeIn ease-in 1.9s;
  }

  .buttonBox {
    max-width:55vw;
    margin-top:4vh;
  }
  
  .navButton {
    margin-right: 1vw;
    font-family: "lores-9-minus-wide";
    font-size: 1.1rem;
    font-weight: 700;
    display: inline;
    border: none;
    background: inherit;
    color: #faf8dc;
    box-shadow: 4px 8px  #c0a5a5;
    text-transform: lowercase;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
  }
  
  .navButton:hover {
    text-shadow: 2px 16px #b0b0b0;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-style: normal;
    padding: 7px 0 0 10px;
    box-shadow: inset 4px 6px #00bfff, 4px 10px #faf8dc;
    z-index: 99;
  }
  
  .titleShadow {
    display: inline-block;
    margin-top: -14vh;
    font-size: 2.6rem;
    color: snow;
    text-shadow: 2px 2px black, 4px 4px #c0a5a5, 6px 6px black, 8px 8px white,
      10px 10px black, 12px 12px 26px black;
    letter-spacing: 0.7rem;
  }
  
  .cursive {
    font-size: 8rem;
    font-family: "bickham-script-pro-3", sans-serif;
    font-weight: 300;
    color: #c0a5a5;
    text-shadow: 1px 2px black, 3px 4px white, 4px 4px black;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .uppercaseCursive {
    font-size: 5.5rem;
    text-transform: uppercase;
  }
  
  .bookInnerContainer {
    transform: rotate(-2deg);
  }
  
  .bookInnerContainerTwo {
    transform: rotate(2deg);
  }
  
  .bookInnerContainerThree {
    max-width: 90vw;
    margin-left: 7vw;
    transform: rotate(-2deg);
  }
  
  .bookInnerContainerFour {
    max-width: 90vw;
    margin-left: 7vw;
    transform: rotate(2deg);
  }
  
  .bookInnerContainerFive {
    max-width: 99vw;
    margin-left: 7vw;
  }
  
  .bookName {
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.9rem;
  }
  
  .authorName,
  .bookClassification {
    display: inline-block;
    color: white;
    letter-spacing: 0.1rem;
    transform: rotate(-2deg);
  }
  
  .orderNow {
    display: inline-block;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px black, 2px 2px white, 3px 3px black, 4px 4px white,
      5px 5px black, 6px 6px white, 7px 7px 16px black;
    letter-spacing: 0.1rem;
    transform: rotate(2deg);
  }
  
  .authorName,
  .orderNow {
    transition: 1s letter-spacing;
    cursor: pointer;
  }
  
  .authorName:hover,
  .orderNow:hover {
    letter-spacing: 0.7rem;
  }
  
  .bookClassification {
    letter-spacing: -0.2rem;
  }
  
  .bookDescription {
    max-width: 40vw;
    margin-left: 50vw;
    font-family: "base-9-sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.2rem;
    letter-spacing: -0.02rem;
    line-height: 1.7em;
  }
  
  .bookCredits {
    max-width: 40vw;
    margin-left: 7vw;
    font-family: "base-9-sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.2rem;
    letter-spacing: -0.02rem;
    line-height: 1.7em;
  }
  
  .publicationLink {
    color: white;
    text-shadow: 1px 1px black, 2px 2px white, 3px 3px 12px black;
    cursor: pointer;
  }
  
  .publicationLink:hover {
    color: gainsboro;
  }
  
  .planeName {
    color: white;
    text-shadow: 1px 1px 16px black;
    text-transform: uppercase;
  }

  .rightBlackTitle {
    font-family:"lores-9-plus-wide", monospace;
    font-size:2.3rem;
    font-weight:700;
    text-align:right;
    text-transform:lowercase;
    letter-spacing:-0.02rem;
    line-height:1.4em;
    margin:14vh 7vw 7vh 0;
  }  
  
  @media (width: 1280px) and (height: 853px) {

    .navButton {
      font-size:1rem;
      box-shadow: 2px 2px  #c0a5a5;
    }


    .bookInnerContainer {
      margin-left: 4vw;
    }
  
    .bookInnerContainerTwo,
    .bookInnerContainerThree,
    .bookInnerContainerFour,
    .bookInnerContainerFive {
      margin: 0 auto;
    }
  }
  
  @media (width: 1280px) and (height: 800px) {

    .navButton {
      font-size:1rem;
      box-shadow: 2px 2px  #c0a5a5;
    }


    .bookInnerContainer {
      margin-left: 4vw;
    }
  
    .bookInnerContainerTwo,
    .bookInnerContainerThree,
    .bookInnerContainerFour,
    .bookInnerContainerFive {
      margin: 0 auto;
    }
  }
  
  @media (width: 1194px) and (height: 834px) {

    .navButton {
      font-size:1rem;
      box-shadow: 2px 2px  #c0a5a5;
    }

    .bookInnerContainer {
      margin-left: 4vw;
    }
  
    .bookInnerContainerTwo,
    .bookInnerContainerThree,
    .bookInnerContainerFour,
    .bookInnerContainerFive {
      margin: 0 auto;
    }
  }
  
  @media (width: 1180px) and (height: 820px) {

    .navButton {
      font-size:1rem;
      box-shadow: 2px 2px  #c0a5a5;
    }

    .bookInnerContainer {
      margin-left: 4vw;
    }
  
    .bookInnerContainerTwo,
    .bookInnerContainerThree,
    .bookInnerContainerFour,
    .bookInnerContainerFive {
      margin: 0 auto;
    }
  }
  
  @media (width: 1080px) and (height: 810px) {

    .navButton {
      font-size:1rem;
      box-shadow: 2px 2px  #c0a5a5;
    }

    .bookInnerContainer {
      margin-left: 4vw;
    }
  
    .bookInnerContainerTwo,
    .bookInnerContainerThree,
    .bookInnerContainerFour,
    .bookInnerContainerFive {
      margin: 0 auto;
    }
  }
  
  @media (width: 1024px) and (height: 1366px) {

    .navButton {
      font-size:1rem;
      box-shadow: 2px 2px  #c0a5a5;
    }

    .bookInnerContainer {
      margin-left: 4vw;
    }
  
    .bookInnerContainerTwo,
    .bookInnerContainerThree,
    .bookInnerContainerFour,
    .bookInnerContainerFive {
      margin: 0 auto;
    }
  }
  
  @media (width: 1024px) and (height: 768px) {

    .navButton {
      font-size:1rem;
      box-shadow: 2px 2px  #c0a5a5;
    }

    .bookInnerContainer {
      margin-left: 4vw;
    }
  
    .bookInnerContainerTwo,
    .bookInnerContainerThree,
    .bookInnerContainerFour,
    .bookInnerContainerFive {
      margin: 0 auto;
    }
  }
  
  @media (width: 1024px) and (height: 600px) {

    .navButton {
      font-size:1rem;
      box-shadow: 2px 2px  #c0a5a5;
    }

    .bookInnerContainer {
      margin-left: 4vw;
    }
  
    .bookInnerContainerTwo,
    .bookInnerContainerThree,
    .bookInnerContainerFour,
    .bookInnerContainerFive {
      margin: 0 auto;
    }
  }

  @media (max-width: 991.98px) {
    .navButton:hover {
      display:none;
    }
  }
  
  @media (max-width: 933px) and (orientation: landscape) {

    .name {
      letter-spacing: 0.21em;
    }

    .navButton {
      margin-top:7vh;
      font-size:0.7rem;
      margin-bottom:3vh;
      box-shadow: 2px 2px  #c0a5a5;
      text-transform: uppercase;
    }

    .titleShadow {
      margin-top: 18vh;
    }
  
    .bookInnerContainer {
      margin-left: 4vw;
    }
  
    .bookInnerContainerTwo,
    .bookInnerContainerThree,
    .bookInnerContainerFour,
    .bookInnerContainerFive {
      margin: 0 auto;
    }
  }
  
  @media (max-width: 913px) and (orientation: portrait) {

    .navButton {
      font-size:0.8rem;
      box-shadow: 2px 2px  #c0a5a5;
      text-transform: uppercase;
    }

    .bookDescription,
    .bookCredits {
      max-width: 60vw;
    }
  
    .bookDescription {
      margin-left: 25vw;
    }
  
    .bookInnerContainer {
      margin-left: 4vw;
    }
  
    .bookInnerContainerTwo,
    .bookInnerContainerThree,
    .bookInnerContainerFour,
    .bookInnerContainerFive {
      margin: 0 auto;
    }
  }
  
  @media (max-width: 767.98px) {
  
    .rightBlackTitle {
      font-size:1.7rem;
    }
  
  
   }
  
  @media (max-width: 431px) and (orientation: portrait) {

    .name {
      letter-spacing: 0.21em;
    }

    .buttonBox {
      display:flex;
      flex-flow: column wrap;
    }

    .navButton {
      font-size:1rem;
      margin-bottom:2vh;
      box-shadow: 4px 4px  #c0a5a5;
    }
  
      .rightBlackTitle {
        font-size:1.4rem;  
     }

    .titleShadow {
      font-size: 1.9rem;
    }
  
    .orderNow {
      line-height: 4rem;
    }
  }
  
  @media (max-width: 391px) and (orientation: portrait) {


    .titleShadow {
      margin-top: 10vh;
      letter-spacing: 1rem;
      line-height: 3.6rem;
    }

    .navButton {
      font-size:0.7rem;
    }
  
  }
  
  @media (max-width: 361px) and (orientation: portrait) {

    .navButton {
      font-size:0.6rem;
      box-shadow: 1px 1px  #c0a5a5;
    }

    .titleShadow {
      letter-spacing: 0.7rem;
    }
  }
  
  @media (max-width: 281px) and (orientation: portrait) {
    .titleShadow {
      letter-spacing: 0.4rem;
      line-height: 4.2rem;
    }
  
      .rightBlackTitle {
        font-size:1.1rem;
      }
    }
  