.imageBoxZero {
  position:absolute;
  top:0;
  right:22vw;
  opacity:0.6;
}

.imageBoxOne {
  position:absolute;
  top:2vh;
  opacity:0.7;
}

.imageBoxTwo {
  position:absolute;
  opacity:0.3;
  top:12vh;
}

.imageBoxThree {
  position:absolute;
  opacity:0.3;
  top:33vh;
}

.imageBoxFour {
  position:absolute;
  opacity:0.5;
  right:0;
  top:24vh;
}

.imageBoxFive {
  position:absolute;
  opacity:0.5;
  right:15vw;
  top:59vh;
}

.imageBoxSix {
  position:absolute;
  opacity:0.5;
  right:0;
  top:100vh;
}

.imageBoxSeven {
  position:absolute;
  opacity:0.8;
  right:0;
  top:114vh;
}

.imageBoxEight {
  position:absolute;
  opacity:0.55;
  top:144vh;
}

.imageBoxNine {
  position:absolute;
  opacity:0.5;
  top:184vh;
  right:0;
}

.imageBoxTen {
  position:absolute;
  opacity:0.3;
  top:194vh;
  right:0;
}

.textContainer {
  max-width:65%;
  margin:0 auto;
  margin-top:15vh;
  font-family: "lores-9-plus-wide", monospace;
  font-size:1.2rem;
  font-weight:400;
  letter-spacing: 0.15rem;
  line-height:1.6em;
}

.grayText {
  color:#b0b0b0;
  font-weight:700;
}

.grayTextUppercase {
  font-size:1.6rem;
  color:#b0b0b0;
  font-weight:700;
  text-transform:uppercase;
  text-shadow: 1px 2px black, 2px 3px white;
}

.pieceTitleText {
    color:gainsboro;
    font-size:1.5rem;
    font-family: "lores-9-narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform:uppercase;
    text-shadow:2px 3px black,
                3px 5px #FF0000;
}
