.textContainer {
  max-width:65%;
  margin:0 auto;
  margin-top:15vh;
  font-family: "lores-9-plus-wide", monospace;
  font-size:1.2rem;
  font-weight:400;
  letter-spacing: 0.15rem;
  line-height:1.6em;
}

.grayText {
  color:#b0b0b0;
  font-weight:700;
}

.grayTextUppercase {
  font-size:1.6rem;
  color:#b0b0b0;
  font-weight:700;
  text-transform:uppercase;
  text-shadow: 1px 2px black, 2px 3px white;
}

.pieceTitleText {
    color:gainsboro;
    font-size:1.5rem;
    font-family: "lores-9-narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform:uppercase;
    text-shadow:2px 3px black,
                3px 5px #FF0000;
}
